
<div style="padding: 30px;">
  <h2>Vista solicitada: {{ selectedLink }}</h2>

<app-button-toolti
              (onClick)="abrirModal(0)"
              [icon]= "'pi pi-plus'"
              [tooltipPosition]="'right'"
              [tooltipText]="'Crear '"
              [rounded]="true"
              [text]="true"
              [severity]="''"
              [styles]="{ 'width': '40px', 'height': '40px', 'padding': '5px',  'margin': '2px' }"
>
</app-button-toolti>

  <app-table-sencilla [data]="result"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="false"
        [tableId]="'idTabladevice'"
        [dataKey]="'tablaCustomer'"
        [globalFilterFields]="fieldNames"
        [bodyTemplate]="bodyTemplate">
  </app-table-sencilla>

  <ng-template #bodyTemplate let-rowData>
    <tr>
      @for (key of displayedColumns; track $index) {
        <td>
          <ng-container *ngIf="key; else normalCell">
            {{ rowData[key] }}
          </ng-container>
          <ng-template #normalCell>
            {{ rowData[key] }}
          </ng-template>
        </td>
      }

      <td>
        @for (button of buttonConfigurations | slice:0:cantidad; track button) {
          @if (button.shouldDisplay(rowData)) {
            <app-button-toolti 
              (onClick)="button.action(rowData)"
              [icon]="button.icon"
              [tooltipPosition]="'bottom'"
              [tooltipText]="button.tooltipText"
              [rounded]="true"
              [text]="true"
              [severity]="button.severity">
            </app-button-toolti>
          }
        }
      </td>
    </tr>
  </ng-template>

  <app-sidebar-registros 
    [(visible)]="sidebarVisible" 
    [position]="'right'"
    [fields]="entityFields"
    [data]="entityData" 
    (formSubmit)="onSubmit($event)">
    <h3>Left Sidebar</h3>
    <button (click)="sidebarVisible = false">Close Sidebar</button>
  </app-sidebar-registros>
</div>
