

@if (bannerVisible) {
<div class="banner">
    <div class="panel-container">
        <div class="side-panel">
            <div class="panel-header">
                <div class="panel-header-title">

                    <h2 class="panel-header-h2">Recursos geograficos</h2>
                </div>
                <div class="panel-header-button">
                    <button class="panel-header-button2" (click)="accionBanner()"><i class="pi pi-arrow-right"></i></button>
                </div>
            </div>
            <p-divider />
            <div class="panel-section">
                <div class="form">
                    @if (validar) {
                    <div class="p-field">
                        <label for="cliente">Cliente</label>
                        <app-select-avanzado [style]="{'width':'200px !important;'}"
                        [options]="opciones.clientes"
                        placeholder="Seleccionar cliente"
                        styleClass="w-full"
                        (selectionChange)="consultas('Customers',$event)"
                        (click)="consultas('Customers')"
                      ></app-select-avanzado>
                    </div>
                }
                    <div class="p-field">
                        <label for="tipo">Tipo</label>
                        <p-dropdown id="tipo" [(ngModel)]="tipoSeleccionado" [options]="tipos" optionLabel="name" placeholder="Seleccione un tipo" [style]="{ width: '100%' }" ></p-dropdown>
                    </div>
                    <div class="p-field">
                        <label for="nombre">Nombre</label>
                        <input id="nombre" placeholder="Nombre de la geocerca" type="text" pInputText [(ngModel)]="nombre">
                    </div>
                    <div class="p-field">
                        <label for="color">Color</label>
                        <p-colorPicker id="color" [(ngModel)]="colorSeleccionado"></p-colorPicker>
                    </div>
                    <div class="p-field" style="display: flex; justify-content: space-between;">
                        <label for="color">Es privado</label>
                        <p-inputSwitch [(ngModel)]="checkedPrivado" />
                    </div>
                    <div class="p-field" style="display: flex; justify-content: space-between;">
                        <label for="color">Aplica dirección</label>
                        <p-inputSwitch [(ngModel)]="checkedDireccion" />
                    </div>
                    <div class="p-field" style="display: flex; justify-content: space-between;">
                        <label for="color">Estado</label>
                        <p-inputSwitch [(ngModel)]="checkedEstado" />
                    </div>

                    <div class="opciones">
                        <p-button severity="success" label="Guardar" icon="pi pi-plus" (click)="consultas('GeographicalResources');"/>
                        <p-button severity="secondary" label="Cancelar" icon="pi pi-times" />
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</div>
}