

@if (bannerVisible) {
<div class="banner">
    <div class="panel-container">
        <div class="side-panel">
            <div class="panel-header">
                <div class="panel-header-title">

                    <h2 class="panel-header-h2">Recursos geograficos</h2>
                </div>
                <div class="panel-header-button">
                    <button class="panel-header-button2" (click)="accionBanner()"><i class="pi pi-arrow-right"></i></button>
                </div>
            </div>
            <p-divider />
            <div class="panel-section">
                <div class="form">
                    @if (validar) {
                    <div class="p-field">
                        <label for="cliente">Cliente</label>
                        <app-select-avanzado
                        #clienteSelect
                        [style]="{'width':'200px !important;'}"
                        [options]="opciones.clientes"
                        placeholder="Seleccionar cliente"
                        styleClass="w-full"
                        (click)="consultas('Customers')"
                        (selectionChange)="onClienteSeleccionadoChange($event)"
                      ></app-select-avanzado>
                    </div>
                    }
                    <div class="p-field">
                        <label for="tipo">Tipo</label>
                        <p-dropdown id="tipo" [(ngModel)]="tipoSeleccionado" [options]="tipos" optionLabel="name" placeholder="Seleccione un tipo" [style]="{ width: '100%' }" ></p-dropdown>
                    </div>
                    <div class="p-field">
                        <label for="nombre">Nombre</label>
                        <input id="nombre" placeholder="Nombre de la geocerca" type="text" pInputText [(ngModel)]="nombre">
                    </div>
                    <div class="p-field">
                        <label for="color">Color</label>
                        <p-colorPicker [(ngModel)]="colorSeleccionado" (onChange)="onColorChange($event)"></p-colorPicker>

                    </div>
                    <div class="p-field" style="display: flex; justify-content: space-between;">
                        <label for="color">Es privado</label>
                        <p-inputSwitch [(ngModel)]="checkedPrivado" [trueValue]="1" [falseValue]="0"></p-inputSwitch>
                    </div>
                    <div class="p-field" style="display: flex; justify-content: space-between;">
                        <label for="color">Aplica dirección</label>
                        <p-inputSwitch [(ngModel)]="checkedDireccion" [trueValue]="1" [falseValue]="0"></p-inputSwitch>
                    </div>
                    <div class="p-field" style="display: flex; justify-content: space-between;">
                        <label for="color">Estado</label>
                        <p-inputSwitch [(ngModel)]="checkedEstado" [trueValue]="1" [falseValue]="0"></p-inputSwitch>
                    </div>

                    <div class="opciones">
                        <p-button severity="success" label="Guardar" icon="pi pi-plus" (click)="consultas('GeographicalResources');" 
                            [disabled]="!isFormValid()" />
                        <p-button severity="secondary" label="Limpiar" icon="pi pi-times" (click)="limpiar()" />
                    </div>
                </div>
              
            </div>
        </div>
    </div>

    <p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"></p-toast>

</div>
}