<div class="card flex flex-wrap justify-content-center gap-2">
    <p-sidebar [(visible)]="visible" (onHide)="onHide()" [position]="position">
        <ng-content></ng-content>
    </p-sidebar>
  </div>
  

    <!--<p-button 
        type="button" 
        class="mr-2" 
        (click)="sidebarVisible2 = true" 
        icon="pi pi-arrow-left" />
    <p-button 
        type="button"
        class="mr-2" 
        (click)="sidebarVisible3 = true" 
        icon="pi pi-arrow-down" />
    <p-button 
        type="button" 
        class="mr-2" 
        (click)="sidebarVisible4 = true" 
        icon="pi pi-arrow-up" />-->
