<div class="banner">
    <div class="panel-container" [@slideContainer]="isPanelVisible ? 'in' : 'out'">
      <div class="rectangulo">
        <button (click)="togglePanel()" class="toggle-panel-btn">
          {{ isPanelVisible ? "▶" : "◀" }}
        </button>
        <div class="rectangulo-menor"></div>
      </div>
  
      <div class="side-panel" [@slideInOut]="isPanelVisible ? 'in' : 'out'">
        <div class="panel-section">
          <h2>SVF355</h2>
          <p>COOPERATIVA DE TRANSPORTADORES DE RISARALDA</p>
          <p>(TOPFLYtech - PioneerX100)</p>
          <p>Dispositivo: 869487060419842</p>
          <p>Clase: Vehículo de transporte</p>
          <div class="info-row">
            <p>Marca: VOLKSWAGEN</p>
            <p>Modelo: 2006</p>
          </div>
          <div class="info-row">
            <p>Simcard: 9102850742</p>
            <p>Plan: Claro</p>
          </div>
          <p>ICCID: 1702302390006</p>
          <p>Estado actual: Encendido</p>
        </div>
        <div class="panel-section">
          <div class="info-row">
            <h2>Ubicación</h2>
            <p>Hace 1 día 6 horas</p>
          </div>
          <p>Vía Ferroviaria Albania - Puerto Bolívar Albania, La Guajira</p>
          <p>Orientación: Sureste</p>
          <div class="info-row">
            <p>Lat: 11.135968</p>
            <p>Lon: -72.618683</p>
          </div>
          <p>Batería: 10%</p>
          <p>Fecha GPS: 2024-07-10 08:49:50</p>
          <p>Tiempo en el mismo lugar:</p>
        </div>
        <div class="panel-section">
          <h2>Información</h2>
          <p>Tipo: CAMION ESTACAS</p>
          <p>Conductor: No asignado</p>
          <p>Venc. Impuestos:</p>
          <p>Venc. Tecnomecanica:</p>
          <p>Venc. SOAT:</p>
          <p>Fecha de instalación: 22-06-2024</p>
          <p>Contactos de emergencia</p>
        </div>
  
        <!--Tabla del panel de la derecha -->
        <div class="panel-section">
          <h2>Eventos Recientes</h2>
          <div class="eventos-container">
            <table class="eventos-table">
              <thead>
                <tr>
                  <th>Estado</th>
                  <th>Evento</th>
                  <th>Fecha hora</th>
                  <th>Dirección</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>•</td>
                  <td>Conexión de batería</td>
                  <td>11-07-2024 13:49:25</td>
                  <td>Hatonuevo, Colombia</td>
                </tr>
                <tr>
                  <td>•</td>
                  <td>Conexión de batería</td>
                  <td>11-07-2024 13:49:25</td>
                  <td>Hatonuevo, Colombia</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>