<div class="banner">
    <div class="panel-container" >
      <div class="rectangulo">
        <button  class="toggle-panel-btn" (click)="togglePanel()">
          {{ isPanelVisible ? "▶" : "◀" }}
        </button>
       
      </div>
      
      <div class="side-panel" >
        <div class="panel-section">
          <div>
            <span class="placa">{{ responseData?.plate }}</span>
          </div>
         
          <p-divider />
          <span class="title customer">
            {{ responseData?.endreportcustomer_name }}
          </span>
          <p>( {{ responseData?.devicedeviceTypebrandname }} - {{ responseData?.devicedeviceTypecode }} )</p>
          <p> <span class="title">Dispositivo: </span>  {{ responseData?.deviceimei }}</p>
          <p><span class="title">Clase: </span> {{ responseData?.classname }}</p>
          <div class="info-row">
            <div>
                <span class="title">Marca: </span> {{ responseData?.brand }}
            </div>
            <div>
                <span class="title">Modelo: </span> {{ responseData?.model }} 
            </div>
          </div>
          <div class="info-row">
            <div>
                <span class="title">Plan: </span>  {{ responseData?.devicesimcardsimcardPlanname }}
            </div>
            <div>
                <span class="title">Simcard:</span> {{ responseData?.devicesimcardlineNumber }}
            </div>
            
          </div>
          <p>  <span class="title">ICCID: </span> {{ responseData?.devicesimcardimei }}</p>
          <p>
            <span class="title">Estado actual: </span>
            <p-tag [severity]="responseData?.endreportmobilestatus === 'No Reporta' ? 'secondary' :
                               responseData?.endreportmobilestatus === 'Apagado' ? 'danger' :
                               responseData?.endreportmobilestatus === 'Encendido' ? 'success' :
                               responseData?.endreportmobilestatus === 'Detenido' ? 'warning' : 'info'"
                   [value]="responseData?.endreportmobilestatus">
            </p-tag>
          </p>
        </div>
        <div class="panel-section">
          <div class="info-row">
            <h2>Ubicación :</h2>
            <span class="title">{{ responseData?.endreportofftime }}</span>
          </div>
          <p-divider />
          <p>{{responseData?.endreportaddress}}</p>
          <p style=" display: flex; flex-wrap: wrap; align-items: flex-end;">
           <span class="title">Orientación: </span>  <span style=" padding:0px 5px;"> {{ responseData?.endreportcourse}} </span> <i class="fi fi-ss-compass-north" 
            [ngStyle]="{
              'transform': 'rotate(' + (responseData?.endreportdegree || 0) + 'deg)',
        'transform-origin': 'center center'
            }"></i></p>
          <div class="info-row">
            <p><span class="title">Latitud: </span>  {{ responseData?.endreportlat}}</p> 
            <p><span class="title">Longitud: </span>  {{ responseData?.endreportlong}}</p> 
            
          </div>
          <p><span class="title">Batería Gps: </span> {{ responseData?.endreportbattery}}%  <i class="fi fi-sr-battery-bolt"
            [ngClass]="{
              'battery-low': responseData?.endreportbattery === 0,
              'battery-medium': responseData?.endreportbattery > 0 && responseData?.endreportbattery <= 20,
              'battery-high': responseData?.endreportbattery > 20
            }">
         </i>
          <p><span class="title">Fecha Gps: </span> {{ responseData?.endreportdevice_date_hour }}</p>
          <p><span class="title">Tiempo en el mismo lugar: </span> {{ responseData?.endreportofftime }}</p>
        </div>
        <div class="panel-section">
          <h2>Información:</h2>
          <p-divider />
          <p><span class="title">Tipo: </span> {{ responseData?.subclassname }} </p>
          <p><span class="title">Conductor: </span> {{ responseData?.MobileUnityDriversfirstName }} {{ responseData?.MobileUnityDriverslastName }} </p>
          <p><span class="title">Venc. Impuestos: </span> {{ responseData?.taxesDueDate }}</p>
          <p><span class="title">Venc. Tecnomecanica: </span> {{ responseData?.techMechRevitionDueDate }}</p>
          <p><span class="title">Venc. SOAT: </span> {{ responseData?.soatDueDate }}</p>
          <p><span class="title">Fecha de instalación: </span> {{ responseData?.installationDate }}</p>
          <p><span class="title" style="    text-decoration: underline; cursor: pointer;" (click)="contactosEmergencia()">
            Contactos de emergencia</span> </p>
        </div>
       
  
        <!--Tabla del panel de la derecha -->
        <div class="panel-section">
          <h2 class="pb-3">Eventos Recientes :</h2>
          
          <div class="eventos-container">
            <table class="eventos-table">
              <thead>
                <tr>
                  <th>Estado</th>
                  <th>Evento</th>
                  <th>Fecha hora</th>
                  <th>Dirección</th>
                </tr>
                <tbody>
                  @if (responseDataEventos && responseDataEventos.length === 0) {
                    <tr>
                      <td colspan="4" style="text-align: center;">No hay datos para mostrar</td>
                    </tr>
                  } @else if (responseDataEventos) {
                    @for (eventoArray of responseDataEventos; track eventoArray) {
                      <tr>
                        @for (evento of eventoArray; track evento) {
                          @if (evento) {
                            <td style="text-align: center;">
                              <span
                                [style.color]="evento.status === 0 ? '#EF4444' : '#22c55e'"
                                [style.fontSize]="'20px'"
                              >
                                ●
                              </span>
                            </td>
                            <td>{{evento.EventTypesname}}</td>
                            <td>{{evento.deviceDateHour}}</td>
                            <td>{{evento.address}}</td>
                          }
                        }
                      </tr>
                    }
                  } @else {
                    <tr>
                      <td colspan="4" style="text-align: center;">Cargando datos...</td>
                    </tr>
                  }
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="card flex flex-column align-items-center gap-2">
  <p-dialog 
      [position]="'top'" 
      header="Contactos de emergencia"
      [(visible)]="visible" 
      [modal]="true" 
      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
      [style]="{ width: '50vw', minHeight: '200px' }" 
      [draggable]="false" 
      [resizable]="false"
      [autoZIndex]="true">


      <p-table [value]="resultData.body"
      [paginator]="true"
      [rows]="5"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowsPerPageOptions]="[10, 50]">
        <ng-template pTemplate="header">
          <tr>
              @for (header of resultData.header; track header) {
              @if (header.texto !== 'no va') {
                  <th>{{ header.texto }}</th>
              }
              }
          </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
          <tr>
              @for (header of resultData.header; track header) {
                  @if (header.texto !== 'no va') {
                      <td>{{ item[0][header.campo] }}</td>
                  }
              }
          </tr>
          </ng-template>
      </p-table>

    </p-dialog>
</div>

