<div class="container">
    <div class="fl-panel item-details">

             <app-ventana-info-accion></app-ventana-info-accion>
            <div class="container">
                <div class="fl-panel item-details">
                    <div class="content">
                        <div id="map" class="map"></div>

                        <app-modal-filtro></app-modal-filtro>
                        <app-banner-inferior></app-banner-inferior>
                        
                    </div>
                </div>
            </div>
            
    </div>
  
</div>


