
.container {
    width: 100%;
    height: calc(100vh - 65px);
    display: flex;
    flex-direction: column;
}

.fl-panel.item-details {
    display: flex;
    flex: 1;
}

.content {
    display: flex;
    flex: 1;
}

.map {
    flex: 1;
    height: 100%;
}

.banner {
    width: 200px;
    height: 100%;
    background-color: red; /* O el color que prefieras */
}
