<div class="container">
    <div class="fl-panel item-details">
        <!-- <div class="table-responsive">
              <table class="table table-sm noborder">
                <tbody>
                  <td style="padding-left: 10px;">
                    <tr>
                      <td>
                        <img src="../../../assets/images/mobile_unity_types/vehiculo_de_transporte/{{list[0].image_type}}"
                          *ngIf="list[0].class_id == 1" alt="{{list[0].class_name}}"
                          title="{{list[0].class_name}}" class="{{class}} img-thumbnail img-xs"
                          (click)="refreshMap()">
                        <img src="../../../assets/images/mobile_unity_types/mascota/{{list[0].image_type}}"
                          *ngIf="list[0].class_id == 2" alt="{{list[0].class_name}}"
                          title="{{list[0].class_name}}" class="{{class}} img-thumbnail img-xs"
                          (click)="refreshMap()">
                        <img src="../../../assets/images/mobile_unity_types/persona/{{list[0].image_type}}"
                          *ngIf="list[0].class_id == 3" alt="{{list[0].class_name}}"
                          title="{{list[0].class_name}}" class="{{class}} img-thumbnail img-xs"
                          (click)="refreshMap()">
                        <img src="../../../assets/images/mobile_unity_types/moto/{{list[0].image_type}}"
                          *ngIf="list[0].class_id == 4" alt="{{list[0].class_name}}"
                          title="{{list[0].class_name}}" class="{{class}} img-thumbnail img-xs"
                          (click)="refreshMap()">
                        <img src="../../../assets/images/mobile_unity_types/maquina_amarilla/{{list[0].image_type}}"
                          *ngIf="list[0].class_id == 5" alt="{{list[0].class_name}}"
                          title="{{list[0].class_name}}" class="{{class}} img-thumbnail img-xs"
                          (click)="refreshMap()">
                          <span *ngIf="element == true" class="loader"  id="element"></span>
                        <br />
                      </td>
                      <td>
                        <span *ngIf="list[0].class_id == 2 || list[0].class_id == 3">
                          {{list[0].name}}
                        </span>
                        <span
                          *ngIf="list[0].class_id == 1 || list[0].class_id == 4 || list[0].class_id == 5">
                          {{list[0].plate}}
                        </span>
                        <br><small>{{list[0].customer_name}}</small>
                        <br><small>{{mobileUnit.plan_name}}</small><br>
                        <small *ngIf="respuesta.length === 0  && loaderDataMap" class="txt-danger">La
                          unidad
                          no ha reportado</small>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div style="display: inline-block;">
                          <div *ngIf=" '' != mobileUnit.limitSpeed" class="pt2">
                            <span *ngIf=" (0 <= mobileUnit.speed) && (5 >= mobileUnit.speed)"
                              class="state-point badge normally">{{mobileUnit.speed}} km/h</span>
                            <span
                              *ngIf=" (6 <= mobileUnit.speed) && ((mobileUnit.limitSpeed-10) >= mobileUnit.speed)"
                              class="state-point badge success">{{mobileUnit.speed}} km/h</span>
                            <span
                              *ngIf=" ((mobileUnit.limitSpeed-9) <= mobileUnit.speed) && ((mobileUnit.limitSpeed-1) >= mobileUnit.speed)"
                              class="state-point badge warning">{{mobileUnit.speed}} km/h</span>
                            <span *ngIf=" (mobileUnit.limitSpeed <= mobileUnit.speed)"
                              class="state-point badge danger">{{mobileUnit.speed}} km/h</span>
                          </div>
                          <div *ngIf=" '' ==  mobileUnit.limitSpeed" class="pt2">
                            <span *ngIf=" (0 <= mobileUnit.speed) && (5 >= mobileUnit.speed)"
                              class="state-point badge normally">{{mobileUnit.speed}} km/h</span>
                            <span *ngIf=" (6 <= mobileUnit.speed) && (80 >= mobileUnit.speed)"
                              class="state-point badge success">{{mobileUnit.speed}} km/h</span>
                            <span *ngIf=" (81 <= mobileUnit.speed) && (99 >= mobileUnit.speed)"
                              class="state-point badge warning">{{mobileUnit.speed}} km/h</span>
                            <span *ngIf=" 100 <= mobileUnit.speed" class="state-point badge danger">
                              {{mobileUnit.speed}} km/h</span>
                          </div>
                        </div>
                      </td>
                    
                      <td>
                        <div *ngIf="temperatura != null">
                          <div *ngIf="temperatura <= 0" class="pt2">
                            <span class="state-point badge negative">{{temperatura}} °C</span>
                          </div>
                          <div *ngIf="temperatura > 0 && 10 >= temperatura" class="pt2">
                            <span class="state-point badge neutro">{{temperatura}} °C</span>
                          </div>
                          <div *ngIf="temperatura > 10 temperatura" class="pt2">
                            <span class="state-point badge positive">{{temperatura}} °C</span>
                          </div>
                        </div>
                      </td>
                 
                    </tr>
                  </td>
                  <td class="actions">
                    <div class="divButtons">
                      <a href="javascript:;" (click)="showActions()" class="btn-icon btn-actions pad_icon_map " title="Acciones" style="margin-bottom: 2px;"><i class="fa fa-angle-double-right icon_map"></i>
                      </a><br/>
                      <a href="javascript:;" (click)="refreshMap()" class="btn-icon btn-edit pad_icon_map" title="Actualizar ubicación" style="margin-bottom: 2px;">
                        <i class="fa fa-spinner icon_map"></i>
                      </a><br/>
                      <a href="javascript:;" (click)="showMap(mapModal)" class="btn-icon btn-edit pad_icon_map" title="Google Street View" style="margin-bottom: 2px; background-color: #f2b413 !important; ">
                        <i class="fa fa-street-view icon_map" aria-hidden="true"></i>
                      </a>
                    </div>
                  </td>
                </tbody>
              </table>
        
            </div>
            <div id="actionsPanel" class="actionsPanel" style="display: none;" >
              <div class="actionsTitle">&nbsp;<i class="fa fa-chevron-circle-down icon_map"></i> Acciones</div>
              <ul>
                
                   
                    <li class="linkAction"><a href="javascript:;" (click)="openModalShare(shareTrackingModal)">Compartir seguimiento</a></li>
                    <li class="linkAction"><a href="javascript:;" (click)="refreshMap()" *ngIf="1 == googleMaps">Limpiar Mapa</a></li>
                    <li class="linkAction"><a href="javascript:;" (click)="openModalShare(filterReportReportngModal)" *ngIf="1 == googleMaps">Reporte de ruta </a></li>
                   
                    <li *ngIf="showDetailEvent" class="linkAction"><a href="javascript:;" (click)="showListEvents()">Detalle de ruta </a></li>
                    <li class="linkAction"><a href="javascript:;" (click)="openModalShare(preoperationalModal)" (click)="createPreoperational()">Reporte Preoperacional</a></li>
                    <li class="linkAction"><a href="javascript:;" (click)="openModalShare(reporteTraficoModal)" (click)="cargarPlantillas()" >Reporte de viaje</a></li>
        
                </ul>
              </div>
              <div id="commandsPanel" class="commandsPanel" style="display: none;" >
                <div class="actionsTitle">&nbsp;<i class="fa fa-chevron-circle-down icon_map"></i> Comandos</div>
              <ul>
                    <li class="linkAction" *ngFor=" let command of commands"><a href="javascript:;" (click)="storeCommand(command.id)">{{ command.name }}</a></li>
                </ul>
              </div>
              <div id="realTimePanel" class="commandsPanel" style="display: none; top: 53%;" >
                <div class="actionsTitle">&nbsp;<i class="fa fa-chevron-circle-down icon_map"></i> Acción</div>
              <ul>
                <li class="linkAction"><i class="fa fa-power-off icon_real icon_map" aria-hidden="true" style="background-color: #39b44a;"></i><a href="javascript:;" (click)="realTime()" *ngIf="1 == googleMaps">Encender</a>
                  <li class="linkAction"><i class="fa fa-power-off icon_real icon_map" aria-hidden="true" style="background-color: red;"></i><a href="javascript:;" (click)="stopRealTime()" *ngIf="1 == googleMaps">Apagar</a>
                </ul>
              </div> -->
        <p-card header="Simple Card">
            <p class="m-0">
                    Lorem ipsum dolor sit amet...
            </p>
        </p-card>

        <div id="map" style="width: 100%; height: 100vh;"></div>
    </div>


       

</div>


