<div class="container-card" >
                 
    <p-card>
        <div class="contenedor1">
            <div style="display: flex;">
                <div>
                    @if (responseData?.classid == 1) {
                        <img src="../../../assets/images/mobile_unity_types_lateral/vehiculo_de_transporte/{{responseData?.typeimage}}"
                             alt="{{responseData?.classname}}"
                             title="{{responseData?.classname}}" class="imagen-lateral">
                      } @else if (responseData?.classid == 2) {
                        <img src="../../../assets/images/mobile_unity_types_lateral/mascota/{{responseData?.typeimage}}"
                             alt="{{responseData?.classname}}"
                             title="{{responseData?.classname}}" class="imagen-lateral">
                      } @else if (responseData?.classid == 3) {
                        <img src="../../../assets/images/mobile_unity_types_lateral/persona/{{responseData?.typeimage}}"
                             alt="{{responseData?.classname}}"
                             title="{{responseData?.classname}}" class="imagen-lateral">
                      } @else if (responseData?.classid == 4) {
                        <img src="../../../assets/images/mobile_unity_types_lateral/moto/{{responseData?.typeimage}}"
                             alt="{{responseData?.classname}}"
                             title="{{responseData?.classname}}" class="imagen-lateral">
                      } @else if (responseData?.classid == 5) {
                        <img src="../../../assets/images/mobile_unity_types_lateral/maquina_amarilla/{{responseData?.typeimage}}"
                             alt="{{responseData?.classname}}"
                             title="{{responseData?.classname}}" class="imagen-lateral" style="border-color: #808080">
                      }
                   
                </div>
                <div class="contenedor-info">
                    <div>
                        <span class="placa">{{ responseData?.plate }}</span> 
                    </div>
                    <div>
                        <p class="nombre">
                            {{ responseData?.endreportcustomer_name }}
                        </p>
                        
                    </div>
                </div>
            </div>
            <p-divider />
            <div style="display: flex;">
            <div>
                @if (responseData?.endreportvelocity !== undefined) {
                @switch (true) {
                    @case (responseData?.endreportvelocity == 0) {
                    <p-tag severity="secondary" value="{{ responseData?.endreportvelocity }} km/h"/>
                    }
                    @case (responseData?.endreportvelocity >= 1 && responseData?.endreportvelocity <= 60) {
                    <p-tag severity="success" value="{{ responseData?.endreportvelocity }} km/h"/>
                    }
                    @case (responseData?.endreportvelocity >= 61 && responseData?.endreportvelocity <= 89) {
                    <p-tag severity="warning" value="{{ responseData?.endreportvelocity }} km/h"/>
                    }
                    @case (responseData?.endreportvelocity >= 90) {
                    <p-tag severity="danger" value="{{ responseData?.endreportvelocity }} km/h"/>
                    }
                    @default {
                    <p-tag severity="info" value="{{ responseData?.endreportvelocity }} km/h"/>
                    }
                }
                } @else {
                <p-tag severity="info" value="Velocidad no disponible"/>
                }
            </div>
            </div>
        </div>

        <div class="contenedor-botones">

            <p-button 
            [rounded]="true"
            icon="pi pi-chevron-right" 
            (onClick)="menu.toggle($event)" 
            [style]="{
              'width': '25px', 
              'height': '25px', 
              'padding': '5px', 
              'margin': '2px', 
              'color': 'white'
            }">
          </p-button>
         
            <app-button-toolti [icon]="'pi pi-refresh'"
                [tooltipText]="'Ir a la derecha'" (onClick)="onRefresh()"
                [rounded]="true"
                [text]="false"
                [severity]="'info'"
                [styles]="{ 'width': '25px', 'height': '25px', 'padding': '5px', 'background-color': '#22c55e','border-color' : '#22c55e',
                 'margin': '2px' }">
            </app-button-toolti>
            <app-button-toolti [icon]="'pi pi-map-marker'"
                [tooltipText]="'Ir a la derecha'"
                [rounded]="true" (onClick)="onreporteStreetView()"
                [text]="false"
                [severity]="'info'"
                [styles]="{ 'width': '25px', 'height': '25px', 'padding': '5px', 'background-color': '#f2b413', 'border-color' : '#f2b413', 'margin': '2px' }">
            </app-button-toolti>
        </div>

    </p-card>
    <p-tieredMenu #menu [model]="items" [popup]="true" />
</div>
