<div class="container-card">
    <p-card >
        <div class="contenedor1">
            <div style="display: flex;">
                <div>
                    <img src="http://aplicacion.localizamos.co/assets/images/mobile_unity_types_lateral/moto/027-motorcycle-1.png" alt="" style="width: 3.5rem;
                    height: 3.5rem;object-fit: contain; border: 3px solid;border-radius: 30px;border-color: #808080">
                </div>
                <div class="contenedor-info">
                    <div>
                        <span class="placa">GMQ78G</span> 
                    </div>
                    <div>
                        <p class="nombre">
                            Localizamos tsa s.a.s 
                        </p>
                        
                    </div>
                </div>
            </div>
            <p-divider />
            <div style="display: flex;">
                <div>
                    <p-tag severity="success" value="15 Km/h"/>
                </div>
                <div>
                    <p-tag severity="danger" value="25 °"/>
                </div>
            </div>
        </div>

        <div class="contenedor-botones">
            <app-button-toolti [icon]="'pi pi-chevron-right'"
                [tooltipText]="'Ir a la derecha'"
                [rounded]="true"
                [text]="false"
                [severity]="'info'"
                [styles]="{ 'width': '25px', 'height': '25px', 'padding': '5px', 'background-color': '#007bff', 'margin': '2px' }">
            </app-button-toolti>
            <app-button-toolti  [icon]="'pi pi-refresh'"
                [tooltipText]="'Ir a la derecha'"
                [rounded]="true"
                [text]="false"
                [severity]="'info'"
                [styles]="{ 'width': '25px', 'height': '25px', 'padding': '5px', 'background-color': '#22c55e','border-color' : '#22c55e',
                 'margin': '2px' }">
            </app-button-toolti>
            <app-button-toolti [icon]="'pi pi-map-marker'"
                [tooltipText]="'Ir a la derecha'"
                [rounded]="true"
                [text]="false"
                [severity]="'info'"
                [styles]="{ 'width': '25px', 'height': '25px', 'padding': '5px', 'background-color': '#f2b413', 'border-color' : '#f2b413', 'margin': '2px' }">
            </app-button-toolti>
        </div>
      
    </p-card>
</div>          
           