<div class="container">
  <div class="container-child">
    <div class="background-carousel">
      <p-carousel
        [value]="images"
        [circular]="true"
        [autoplayInterval]="5000"
        [showIndicators]="false"
      >
        <ng-template pTemplate="item" let-image>
          <img [src]="image.url" [alt]="image.alt" class="carousel-image" />
        </ng-template>
      </p-carousel>
    </div>
    <div class="content-overlay">
      <div class="grid">
        <div class="col-12 lg:col-8">
          <div >
            <div class="card-top flex flex-wrap">

              <div class="card-top-info flex align-items-center p-2 flex-1 min-w-min" style="justify-content: space-between;">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center " style="height: 100%;align-content: flex-start;">
                    <div class="contenedor-icono-card">
                      <i class="fi fi-rr-cars"></i>
                    </div>
                
                  </div>

                  <div class="ps-3 components">
                    <div>
                      <span class="span-valor">5270</span>
                      <p class="texto-valor" > Unidades en Plataforma</p>
                    </div>

                  
                  </div>

                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center" style="height: 100%;align-content: flex-end;">
                    <div  class="contenedor-icono-card">
                      <i class="fi fi-rr-arrow-small-right"></i>
                    </div>
                
                  </div>
              </div>

              <div class="card-top-info flex align-items-center p-2 flex-1 min-w-min" style="justify-content: space-between;">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center " style="height: 100%;align-content: flex-start;">
                    <div class="contenedor-icono-card">
                      <i class="fi fi-br-signal-stream"></i>
                    </div>
                
                  </div>

                  <div class="ps-3 components">
                    <div>
                      <span class="span-valor">2233/5270</span>
                      <p class="texto-valor" > Unidades Reportando</p>
                    </div>

                  
                  </div>

                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center" style="height: 100%;align-content: flex-end;">
                    <div  class="contenedor-icono-card">
                      <i class="fi fi-rr-arrow-small-right"></i>
                    </div>
                
                  </div>
              </div>

              <div class="card-top-info flex align-items-center p-2 flex-1 min-w-min" style="justify-content: space-between;">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center " style="height: 100%;align-content: flex-start;">
                  <div class="contenedor-icono-card">
                    <i class="fi fi-bs-bell-notification-social-media"></i>
                  </div>
              
                </div>

                <div class="ps-3 components">
                  <div>
                    <span class="span-valor">0</span>
                    <p class="texto-valor" > Notificaciones Pendientes</p>
                  </div>

                
                </div>

                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center" style="height: 100%;align-content: flex-end;">
                  <div  class="contenedor-icono-card">
                    <i class="fi fi-rr-arrow-small-right"></i>
                  </div>
              
                </div>
              </div>

            
            </div>

          </div>

          <div>
            <div class="card-top-info flex align-items-center p-2 flex-1 min-w-min" style="justify-content: space-between;">

             <div>
              <span>Ubicación</span>
              <p>Conozca el estado y ubicación de sus activos móviles</p>
             </div>
             <div>
              <i class="fi fi-rr-motorcycle" style="width: 30px; height: 30px;"></i>
              <i class="fi fi-bs-truck-side" style="width: 30px; height: 30px;"></i>
              <i class="fi fi-rr-car-side" style="width: 30px; height: 30px;"></i>
              <i class="fi fi-rs-excavator" style="width: 30px; height: 30px;"></i>

             </div>
            </div>
          </div>

        </div>

        <div class="col-12 lg:col-4">
        
          <div>
            <div class="col-12">
              <div class="card-top-info " >
                <div > 
                  <img src="http://aplicacion.localizamos.co/assets/images/dashboard/box2.jpg" alt="" style="width: 100%; height: 120px; border-radius: 2rem 2rem 0rem 0rem;">

                </div>

                <div>
                  <span style="display: flex;
                  font-weight: 600;
                  font-size: 15px;
                  padding: 0px 8px 0px 8px;
                  color: #6b7280;">Reporte y Analiticas</span>
                  <p style="margin: 0px;
                  font-size: 13px;
                  display: flex;
                  text-align: left;
                  padding: 0px 8px 0px 8px;
                  font-weight: 400;
                  color: #3b82f6;">Obtenga los reportes y datos acerca de su información</p>
                  <div >
                   <a href="#" style="text-decoration: none"><h3 style="display: flex;
                    padding: 10px;
                    margin: 0px;
                    color: #818791;
                    font-weight: 600;">Generar certificado <i style="display: flex;
    align-items: center;
    margin-left: 5px;" class="fi fi-rs-features-alt"></i></h3> </a> 
                  </div>

                  <div>
                    <span>Reportes programados</span>
                  </div>
                  <div>

                  </div>

                </div>

              </div>
            </div>

            <div class="col-12">
              <div class="card-top-info " >
                <div > 
                  <img src="http://aplicacion.localizamos.co/assets/images/dashboard/box2.jpg" alt="" style="width: 100%; height: 100px; border-radius: 2rem 2rem 0rem 0rem;">

                </div>

                <div>
                  <span>Reporte y Analiticas</span>
                  <p>Obtenga los reportes y datos acerca de su información</p>
                  <div>
                    <h3>Generar certificado</h3>
                  </div>
                  <div>

                  </div>
                  <div>
                    <span>Reportes programados</span>
                  </div>
                  <div>

                  </div>

                </div>

              </div>
            </div>
          

          </div>

        </div>
      </div>
      
    
    </div>
  </div>
</div>

<!-- 
<button (click)="onLogout()">
  Cerrar Sesión
</button>


<div *ngIf="user() as userData">
  <p>ID: {{ userData.id }}</p>
  <p>email: {{ userData.email }}</p>
  
</div>


<div style="padding: 30px;">
  <h1>dashboard ejemplo variables computadas</h1>

  <pre>{{user() | json}}</pre> 
</div>



<a style="color: #666666;" (click)="ubication([1185,467, 3255, 82, 5420, 1200])" routerLink="/mapa">
  unidad movil TSJ840
</a>
<br>
<a style="color: #666666;" (click)="ubication([5228])" routerLink="/mapa">
  unidad movil TSJ840
</a>
<br>
<a style="color: #666666;" (click)="ubication([82])" routerLink="/mapa">
  unidad movil TSJ840
</a>
<br>
<a style="color: #666666;" (click)="ubication([3255])" routerLink="/mapa">
  unidad movil TSJ840
</a><a style="color: #666666;" (click)="ubication([467])" routerLink="/mapa">
  <br>
  unidad movil TSJ840
</a> -->

