body {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
  }
  
  
  .container-child {
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 65px);
    overflow: hidden;
  }
  
  /* Estilos para el carrusel de fondo */
  .background-carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 65px);
    z-index: 1;
    object-fit: cover;
    align-content: center;
  }
  
 ::ng-deep .carousel-image {
    width: 100%;
    height: calc(100vh - 65px);
    object-fit: cover;
  }
  
  /* Estilos para el contenido superpuesto */
  .content-overlay {
    position: relative;
    z-index: 2;
    padding: 15px;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  /* Estilos para las tarjetas de información superior */
  .card-top-info {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
      margin: 15px;
    border-radius:2rem;
    gap: 2rem;
    text-align: center;
    background-color: white;
    min-height: 130px;
  }

  

  .contenedor-icono-card i{
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    background: #3b82f6;
    color: white;
    border-radius: 50%;
     align-items: center;
  }

  span.span-valor{
    font-size: 25px;
     font-weight: 600;
     color: #6b7280;
  }

  p.texto-valor{
    margin: 0px;
    font-size: 14px;
    line-height: 13px;
    font-weight: 500;
    color: #6b7280;
  }

::ng-deep .p-divider.p-divider-horizontal {
    margin: 0.6rem 0;
    padding: 0 1rem;
}

 ::ng-deep .p-divider-horizontal:before {
    position: relative; 
    display: block;
    top: 50%;
    left: 0;
    width: 100%;
    content: "";
}

img.imagen-acabecera-card{
    width: 100%;
    height: 120px;
    border-radius: 2rem 2rem 0rem 0rem;
    object-fit: cover;
}

.span-title{
    display: flex;
    font-weight: 600;
    font-size: 14px;
    padding: 0px 8px 0px 8px;
    color: #6b7280;
}

.p-title{
    margin: 0px;
    font-size: 12px;
    display: flex;
    text-align: left;
    padding: 0px 8px 0px 8px;
    font-weight: 400;
    color: #3b82f6; margin-bottom: 10px;
}

a{
    text-decoration: none
}

.title-h3{
    display: flex;
    padding:0px 10px;
    margin: 0px;
    color: #818791;
    font-weight: 500;
}

.title-h3 i{
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.text-strong{
    display: flex;
    padding: 0px 8px;
    font-weight: 700;
}

.div-button{
    display: flex;
    margin-right: 30px;
    justify-content: flex-end;
}

.span-button{
    margin-bottom: 10px;
    background: #22c55e;
    border-radius: 5px;
    padding: 3px;
    font-size: 10px;
    font-weight: 500;
}

.span-button a{
    color: white;
    text-decoration: none;
    display: flex;
}

.enlace-mapa{
    width: 30px;
    height: 30px;  
    margin-right: 18px;
}

.enlace-mapa i{
    color: white; 
    background-color: #22c55e;
    font-size: 15px;  padding: 5px;
    width: 0px; 
    height: 30px; 
    border-radius: 50px 50px 10px 50px;
}

.div-contenedor-activo{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.div-contenedor-activo:hover{
    background-color: #eaeaec;
 
}
.span-placa{
    margin-left: 5px; 
    font-weight: 600;
    color: #6b7280;
}

.tag-div{
    padding: 3px;
    border-radius: 5px;color: white;
    height: 20px;
    font-size: 10px;
    margin-right: 5px;
}

.contenedor-email-reportes{
    white-space: normal;
    word-wrap: break-word;
    max-width: 100%; 
    text-align: left; 
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    margin-left: 10px;
}

.battery-low {
    background-color: #EF4444; /* rojo */
  }
  
  .battery-medium {
    background-color: #F2B413; /* amarillo */
  }
  
  .battery-high {
    background-color: #22c55e; /* verde por defecto */
  }

  .velocidad {
    background-color: #a7a7a7; /* rojo */
  }

  .velocidad-baja{
    background-color: #22c55e; /* verde por defecto */
  }

  .velocidad-rapida{
    background-color: #F2B413; /* amarillo */
  }

  .velocidad-muy-rapida{
    background-color: #EF4444; /* rojo */
  }

  a{
    cursor: pointer;
  }

  i.fi.fi-ss-circle-small.geo{
    display: flex;
    align-items: center;
  }


  
  /* Estilos para ocultar elementos del carrusel PrimeNG */
  :host ::ng-deep .p-carousel .p-carousel-indicators,
  :host ::ng-deep .p-carousel .p-carousel-prev,
  :host ::ng-deep .p-carousel .p-carousel-next {
    display: none !important;
  }
  
  @media (max-width: 768px) {
    .background-carousel,
    .carousel-image {
      width: 100vw; /* Usa el ancho total de la ventana */
      height: 100vh; /* Usa la altura total de la ventana */
      max-width: none;
      max-height: none;
    }
  }