<p-password [(ngModel)]="value" [toggleMask]="true">
    <ng-template pTemplate="header" >
        <h6>elige una contraseña</h6>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-divider />
        <p class="mt-2">Sugerencias</p>
        <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
            <li>Al menos una minúscula</li>
            <li>Al menos una mayúscula</li>
            <li>Al menos un numérico</li>
            <li>Minimo 8 caracteres</li>
        </ul>
    </ng-template>
</p-password>